**/DEBUG
**/Makefile.stage2
**/NOT_USED
**/OLD_Versions
**/OLD_versions
**/TEST_DATA
**/TODO
**/UNUSED
**/WIP
*.annot
*.class
*.cmi
*.cmo
*.cmt
*.cmti
*.cmx
*.dbm
*.gdbm
*.o
*.out
*.output
*.tab.c
*.dSYM
MT/data/hi/MW/MW_html_new.tgz
MT/prog/Heritage_morph_interface/Makefile_bak
MT/prog/kAraka/Prepare_Graph/.depend
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/Axikarma_XAwu_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/BAK/
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/Sabxakarma_XAwu_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/SakAxi_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/SliR_Axi_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/akarmaka_XAwu_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/buxXyarWa_XAwu_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/gawyarWa_XAwu_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/karmasamAnAXikaraNa_XAwu_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/karwqsamAnAXikaraNa_XAwu_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/prawyavasAnArWa_XAwu_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/sakarmaka_XAwu_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/vAkyakarma_XAwu_list
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/xvikarmaka_XAwu_list1
MT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/xvikarmaka_XAwu_list2
MT/prog/kAraka/Prepare_Graph/ZEN/dagify
MT/prog/kAraka/Prepare_Graph/ZEN/example_dispatch.ml
MT/prog/kAraka/Prepare_Graph/ZEN/list_iso
MT/prog/kAraka/Prepare_Graph/ZEN/make_english_lexicon
MT/prog/kAraka/Prepare_Graph/ZEN/make_french_lexicon
MT/prog/kAraka/Prepare_Graph/ZEN/sanskrit_dispatch.ml
MT/prog/kAraka/Prepare_Graph/ZEN/terdagify
MT/prog/kAraka/Prepare_Graph/ZEN/test
MT/prog/kAraka/Prepare_Graph/ZEN/timeshare
MT/prog/kAraka/Prepare_Graph/ZEN/unshare
MT/prog/kAraka/Prepare_Graph/build_graph
MT/prog/kAraka/Prepare_Graph/paths.ml
MT/prog/reader_generator/Canto-I/
MT/prog/wsd/.depend
MT/prog/wsd/wsd
MT/prog/map/mar/
MT/prog/mar/
MT/data/mr/
MT/prog/map/tel/
MT/prog/tel/
MT/data/te/
NN/CG/nne2diagram.tab.h
NN/parser/nneparse.tab.h
NN/Type_identifier/typeidentifier.tab.h
NN/parser/nnparse.tab.h
converters/ir
converters/ir_skt
converters/ri
converters/ri_skt
e-readers/shishu_bak/
paths.pl
paths.sh
skt_gen/Sentence/.depend
skt_gen/Sentence/dump
skt_gen/Sentence/dump.ml
skt_gen/Sentence/paths.ml
skt_gen/Sentence/sentence_generator
skt_gen/compounds/paths.h
spec.txt
