*.o
*.out
*.gdbm
*.class
converters/ir
converters/ir_skt
converters/ri
converters/ri_skt
*.output
*.tab.c
*.dbm
*.cmi
*.cmx
*.cmo
*.cmt
*.cmti
*.annot
spec.txt
**/OLD_versions
**/TEST_DATA
**/TODO
**/NOT_USED
**/UNUSED
**/DEBUG
**/WIP
**/OLD_Versions
**/Makefile.stage2
skt_gen/Sentence/sentence_generator
skt_gen/Sentence/dump
SHMT/prog/wsd/wsd
GOLD_DATA/POS_GOLD/
SHMT/data/hi/MW/MW_html_new.tgz
SHMT/prog/Heritage_morph_interface/Makefile_bak
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/BAK/
SHMT/prog/kAraka/Prepare_Graph/ZEN/dagify
SHMT/prog/kAraka/Prepare_Graph/ZEN/example_dispatch.ml
SHMT/prog/kAraka/Prepare_Graph/ZEN/list_iso
SHMT/prog/kAraka/Prepare_Graph/ZEN/make_english_lexicon
SHMT/prog/kAraka/Prepare_Graph/ZEN/make_french_lexicon
SHMT/prog/kAraka/Prepare_Graph/ZEN/sanskrit_dispatch.ml
SHMT/prog/kAraka/Prepare_Graph/ZEN/terdagify
SHMT/prog/kAraka/Prepare_Graph/ZEN/test
SHMT/prog/kAraka/Prepare_Graph/ZEN/timeshare
SHMT/prog/kAraka/Prepare_Graph/ZEN/unshare
SHMT/prog/kAraka/Prepare_Graph/build_graph
SHMT/prog/reader_generator/Canto-I/
e-readers/shishu_bak/
paths.pl
paths.sh
skt_gen/Sentence/paths.ml
skt_gen/compounds/paths.h
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/xvikarmaka_XAwu_list1
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/xvikarmaka_XAwu_list2
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/sakarmaka_XAwu_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/akarmaka_XAwu_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/gawyarWa_XAwu_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/buxXyarWa_XAwu_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/Sabxakarma_XAwu_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/prawyavasAnArWa_XAwu_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/vAkyakarma_XAwu_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/Axikarma_XAwu_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/karwqsamAnAXikaraNa_XAwu_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/karmasamAnAXikaraNa_XAwu_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/SliR_Axi_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/SakAxi_list
SHMT/prog/kAraka/Prepare_Graph/DATA/AkAfkRA/Axikarma_XAwu_list
SHMT/prog/wsd/.depend
SHMT/prog/kAraka/Prepare_Graph/.depend
skt_gen/Sentence/.depend
