[submodule "mod_mar"]
	path = mod_mar
	url = https://github.com/samsaadhanii/mod_mar.git
[submodule "mod_tel"]
	path = mod_tel
	url = https://github.com/samsaadhanii/mod_tel.git
[submodule "submodules/mod_mar"]
	path = submodules/mod_mar
	url = https://github.com/samsaadhanii/mod_mar.git
[submodule "submodules/mod_tel"]
	path = submodules/mod_tel
	url = https://github.com/samsaadhanii/mod_tel.git
