<div class="container-fluid">
<div class="col-md-12 rows intro">
<div style="clear:both"></div>
<div class="panel panel-info">
		<div class="">
			<h2 class="">MAHĀBHĀRATA – THE SOURCE EPIC</h2>
		</div>

	<div class="panel-body">
		<p>Śiśupālavadha of Māgha is an extract of 33rd to 45th chapters of sabhāparva of Srīmad Mahābhārata. In Śiśupālavadha of Māgha, the poet, follows, in the main, the story of the Mahābhārata, but the simple story of the epic is by his poetic touch lifted into the region of true poetry and turned into a highly finished poem. The descriptions and most of the situations are all of his own and they owe very little to the original. Below are the extracts of slokas of Śrīmad Mahābhārata that contain the content of Śiśupālavadha.

		</p>


	<div class="col-md-12 row">
		<div class="col-md-3">
			<ul id="chapters">
					<li ng-click="mpsp=33" ng-class="{active:mpsp == 33}">अध्याय-33</li>
					<li ng-click="mpsp=34" ng-class="{active:mpsp == 34}">अध्याय-34</li>
					<li ng-click="mpsp=35" ng-class="{active:mpsp == 35}">अध्याय-35</li>
					<li ng-click="mpsp=36" ng-class="{active:mpsp == 36}">अध्याय-36</li>
					<li ng-click="mpsp=37" ng-class="{active:mpsp == 37}">अध्याय-37</li>
					<li ng-click="mpsp=38" ng-class="{active:mpsp == 38}">अध्याय-38</li>
					<li ng-click="mpsp=39" ng-class="{active:mpsp == 39}">अध्याय-39</li>
					<li ng-click="mpsp=40" ng-class="{active:mpsp == 40}">अध्याय-40</li>
					<li ng-click="mpsp=41" ng-class="{active:mpsp == 41}">अध्याय-41</li>
					<li ng-click="mpsp=42" ng-class="{active:mpsp == 42}">अध्याय-42</li>
					<li ng-click="mpsp=43" ng-class="{active:mpsp == 43}">अध्याय-43</li>
					<li ng-click="mpsp=44" ng-class="{active:mpsp == 44}">अध्याय-44</li>
					<li ng-click="mpsp=45" ng-class="{active:mpsp == 45}">अध्याय-45</li>
			</ul>
		</div>
		<div class="col-md-9 mpsp" style="font-family:DV-TTYogesh" ng-init="mpsp=MB-SP-33">
		{{mpsp}}
			<!-- <embed src="html/mb/{{mpsp}}.pdf" width="500" height="375" type='application/pdf'> -->
			 <div ng-include="'html/mb/MB-SP-33.htm'" ></div>
		

		</div>

	</div>
	</div>
</div>
</div>
</div>